.App {
  text-align: center;
}
h1 {
  font-size: 25px;
  font-weight: 400;
}
#text {
  margin-bottom: 10px;
}
#author {
  margin-bottom: 50px;
  font-style: italic;
}
#quote-box {
  min-width: 400px;
  max-width: 60vw;
  max-height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: rgb(94, 129, 114);
  box-sizing: border-box;
  padding: 50px;
  border-radius: 10px;
  transition: all 0.2s ease;
}
#all-buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* padding: 10px; */
}
#new-quote {
  border: none;
  padding: 10px;
  background-color: rgba(47, 79, 79, 0.479);
  color: white;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.2s ease;
  font-size: 14px;
  font-weight: 600;
}
#new-quote:hover {
  background-color: rgb(74, 65, 126);
}
#tweet-quote {
  font-size: 30px;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.2s ease;
}
#tweet-quote:hover {
  color: rgb(74, 65, 126);
}
